@model IEnumerable<ArticleListingServiceModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to our Blog</h1>
</div>

<partial name="_ArticleListingPartial" model="@Model"/>
